.order-summary {
  @apply w-full;
}

.summary-card {
  @apply bg-cardbg rounded-lg p-4 relative overflow-hidden;
  
  &__value {
    @apply text-5xl font-bold mb-2;
  }
  
  &__label {
    @apply text-xs font-medium px-3 py-1 rounded-full inline-block;
  }
}