:root {
            --color-primary: #FF602C;
            --color-background: #1D1D1D;
            --color-navbg: rgba(89, 86, 86, 0.29);
            --color-cardbg: rgba(89, 86, 86, 0.4);
            --font-inter: 'Inter', sans-serif;
        }

        .bg-primary {
            background-color: var(--color-primary);
        }

        .bg-background {
            background-color: var(--color-background);
        }

        .bg-navbg {
            background-color: var(--color-navbg);
        }

        .bg-cardbg {
            background-color: var(--color-cardbg);
        }

        .text-primary {
            color: var(--color-primary);
        }

        .font-inter {
            font-family: var(--font-inter);
        }

        body {
            font-family: 'Inter', sans-serif;
            background-color: #1D1D1D;
            height: 100vh;
            overflow: hidden;
        }

        select {
            appearance: none;
        }